#tableau{
    /* display: flex;
    flex-wrap: wrap-reverse; */
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: auto;
    font-size:large;
    
    
    
}

html{
    min-width: 700px;
}

div.row{
    text-align: center;
    line-height: 100px; /*Ici pour aligner le texte*/
    margin:auto;

    
    
   
}

#score{
    text-align: center;
}

button{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 2em;
    
}



div#tableau{
    margin-left: 2em;
    margin-right: 2em;
    border: 2px solid red;
    background-color: yellow;
    
    
    
    
}

div input{
    margin:auto;
}

body h1{
    text-align:center;
    margin:auto;
}


#score{
    margin-bottom: 1em;
}